.container1{
    padding-top: 50px;
    border-radius: 25px;
    background: white;
    padding: 20px;
    display: inline-block;
    width: 75%;
    align-items: center;
    align-content: center;


}
