.information{
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    column-gap: 50px;
    justify-content: center;
    align-items: center;
    list-style: none;
}
.both{
    border-radius: 40px;
    background-color: white;
    padding: 30px;
}
.label{
    text-align: left;
}



.information .return_info{
    width: 100%;
}
.information .label{
    text-align: left;
}

.information .inputs{
    width: 100%;

}

.information .label{
    width: 100%;
}
.information .submit{
    margin-top: 10px;
    width: 100%;
}