
.title{
    padding-top: 50px;
}
.Please{
    background: rgba(255, 255, 255, 0.7);
}
.everything{
    padding-left: 50px;
    padding-right: 50px;

}
.heading{
    background-color: white;
    padding: 500px;
    border-color: dimgray;
    border-style: solid;

}

