*{
    box-sizing: border-box;
}
nav{
    background-color:#d3d3d3;

}
footer{
    padding-top: 1000px;
}
.image{
    background-image: url("editedoldmap2.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    filter: grayscale(100%);
    background-attachment: fixed;
}
.information{
    padding-top: 30px;
    display: flex;
    column-gap: 50px;
    justify-content: center;
    align-items: center;
    list-style: none;
}

.returning{
    border-radius: 25px;
    background: white;
    padding: 20px;

}
.newplayer{
    border-radius: 25px;
    background: white;
    padding: 20px;
}
.information .returning .submit {
    width: 50%;
}
.information .returning .return_info{
    width: 100%;
}
.information .newplayer .new_info{
    width: 100%;
}
.information .newplayer .submit{
    width: 50%
}